/* ===== STYLE DASAR HALAMAN ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

/* ===== CARD LANDING PAGE ===== */
.card {
    width: 90%;
    max-width: 350px;
    margin: 80px auto;
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

/* ===== INPUT ===== */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* ===== BUTTON UMUM ===== */
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    background: #00ff99;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

/* efek hover tombol */
button:hover {
    transform: scale(1.05);
}

/* tombol reset */
button.danger {
    background: darkred;
    color: antiquewhite;
}

/* ===== CANVAS GAME ===== */
canvas {
    background: black;
    border: 3px solid #00ff99;
    display: block;
    margin: 15px auto;
}

/* =============================== */
/* KONTROL DI BAWAH CANVAS */
/* =============================== */

.controls.bottom-circle {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* baris kiri kanan */
.controls.bottom-circle div {
    display: flex;
    gap: 25px;
}

/* tombol arah bulat */
.controls.bottom-circle button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #00ff99;
    font-size: 22px;
    padding: 0;
}

/* efek tekan tombol */
.controls.bottom-circle button:active {
    transform: scale(0.9);
}